# Fundamental Data Structure :

The fundamental data structure in python includes 

- **Primitive type** ( ***Integer, Float, String***, and ***Boolean***) and 
- **Non-Primitive type** ( ***Array, List, Tuples, Dictionary, Set***, and ***File***) 

In this tutorial, we are going to discudd about List, Tuples, Set and Dictionary. 



### List

List is built in data structure in python. It is 
- Mutable i.e., we can change or edite the size of the list by appending, inserting and deleting the elements.
- List can hold heterogeneous objects (e.g., integer, string, boolean)

Lets try to understand the List:

- To initiate a blank List.

In [1]:
l = []

- To find the type of the object.

In [2]:
type(l)

list

- To create a list from scratch.

In [3]:
L = [1,2,3,4,5,6]

- Indexing of list.

In [4]:
L[0],L[1],L[5]

(1, 2, 6)

- Revers indexing is also possible.

In [5]:
L[-1],L[-2],L[-3]

(6, 5, 4)

- To find the length of list.

In [6]:
len(L)

6

- To add the element from last.

In [7]:
L.append(12)
L

[1, 2, 3, 4, 5, 6, 12]

- To find the sum of the elements (if they are of same types like int. double etc)

In [8]:
sum(L)

33

- To find maximum and minimum of the list

In [10]:
max(L), min(L)

(12, 1)

- To create a list of heterogeneous element types.

In [11]:
L = [1,2.0,3,4,5,"Apple",True]

- To find the type of elements of a list.

In [12]:
type(L[1]),type(L[5])

(float, str)

- To create a list of list.

In [13]:
L = [[1,2,3],[3,4,5],[5,7,9]]

- To find list inside a list.

In [14]:
L[0]

[1, 2, 3]

In [15]:
L[0][1]

2

- To add two list. It is not as ususal addition. The elements are accumulated.

In [16]:
L1 = [1,2,3] ; L2 = [2,4,6]
L1+L2, set(L1+L2)

([1, 2, 3, 2, 4, 6], {1, 2, 3, 4, 6})

- To add element from end of the list

In [25]:
L = [1,4,2,3,5,6,7]
L.append(100)
L

[1, 4, 2, 3, 5, 6, 7, 100]

- To insert element (100) at specific index (1)

In [29]:
L = [1,4,2,3,5,6,7]
L.insert(1,100)
L

[1, 100, 4, 2, 3, 5, 6, 7]

- To remove specific element form list. It will remove the first occurance.

In [34]:
L = [1,4,2,3,5,6,7,4]
L.remove(4)
L

[1, 2, 3, 5, 6, 7, 4]

- To remove the element from specific index

In [35]:
L = [1,4,2,3,5,6,7]
L.pop(-1)
L

[1, 4, 2, 3, 5, 6]

- To sort the list

In [36]:
L = [1,10,2,30,5,60,7]
L.sort()
L

[1, 2, 5, 7, 10, 30, 60]

- To reverse the list

In [37]:
L = [1,4,2,3,5,6,7]
L.reverse()
L

[7, 6, 5, 3, 2, 4, 1]

- To create a List of List

In [47]:
LL = [[1,2,3],[4,5,6],[5,6,7]]
LL

[[1, 2, 3], [4, 5, 6], [5, 6, 7]]

### Tuples

Tuples are non-mutable, which means we can ot add or remove elements once tuple is defind.

- To define a tuples from scratch

In [22]:
t = (2,3,4,5)

- Find type

In [23]:
type(t)

tuple

- Indexing

In [24]:
t[1]

3

- Create a list of tuples

In [46]:
L = [(1,2),("a","b"),(True, False)]
L

[(1, 2), ('a', 'b'), (True, False)]

### Dictionary

Dictionary organizes the data with key-value pair. Dictionary can be nested with other data types.

- To initiate a dictionary

In [38]:
D = dict()
DD = {}

- Create a dictionary from scratch

In [39]:
D = {"fruit":'apple',
    "vegetable" : 'carrot',
    "rice": 2.0,
    'milk': 10,}

- What are keys?

In [40]:
D.keys()

dict_keys(['fruit', 'vegetable', 'rice', 'milk'])

- What are values?

In [41]:
D.values()

dict_values(['apple', 'carrot', 2.0, 10])

- Indexing

In [42]:
D['fruit'], D["rice"]

('apple', 2.0)

- Iteration over key and values

In [28]:
for key,value in D.items():
    print(key,value)

fruit apple
vegetable carrot
rice 2.0
milk 10

- To update a dictionary

In [29]:
D.update({"salt": 2.0})
D

{'fruit': 'apple', 'vegetable': 'carrot', 'rice': 2.0, 'milk': 10, 'salt': 2.0}

- To create a list form a Dictionary. Only keys are collected.

In [43]:
list(D)

['fruit', 'vegetable', 'rice', 'milk']

- To create a list of keys only

In [44]:
list(D.keys())

['fruit', 'vegetable', 'rice', 'milk']

- To create a list of values

In [32]:
list(D.values())

['apple', 'carrot', 2.0, 10, 2.0]

- To create Dictionary of with list, tuples and dictionary

In [48]:
DD = {"names":["John","Harry", "Brat"],\
      "roll no": (1,2,3),\
      "plan":{"first":[12,34,56],"second":[1,3,5]}}

DD

{'names': ['John', 'Harry', 'Brat'],
 'roll no': (1, 2, 3),
 'plan': {'first': [12, 34, 56], 'second': [1, 3, 5]}}